.game-title {
    font-size: 4.5em;
}
.names {
    max-width: 600px;
    margin: auto;
    .p_select {
        font-size: 2em;
        min-height: 250px;
    }
    @media(max-width: 400px) {
        .p_select {
            min-height: 150px;
        }  
    }
}